# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# PyTorch
*.pth
*.pt

# YOLO runs
runs/

# Datasets (too large for GitHub)
data/raw/
data/processed/
archive/
gtsdb/
*.csv

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
wandb/

# Experiments (model weights, training logs)
experiments/
